@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
.body{
  font-family: 'Cormorant Garamond', serif;
}
.buttonclass{
  background-color: grey !important;
  border-color: grey !important;
  width: 25% !important;
}
.inputwidth{
  width: 50% !important;
}
